name: Sync Huge Images with Skopeo

on:
  workflow_dispatch:

env:
  ACR_REGISTRY: crpi-0scrtxym3druakoy.cn-hangzhou.personal.cr.aliyuncs.com
  ACR_NAMESPACE: zhangkaixiang01
  ACR_REPO: sweb.eval
  ACR_USERNAME: aliyun2381460840

jobs:
  skopeo-copy:
    runs-on: ubuntu-latest
    steps:
      # 1. 安装 Skopeo (Github Runner 自带 Docker 但不一定有 Skopeo)
      - name: Install Skopeo
        run: |
          sudo apt-get update
          sudo apt-get install -y skopeo

      # 2. 登录两个仓库
      - name: Login to Registries
        run: |
          # 登录源 (Docker Hub) - 公共镜像不需要密码，但为了防限流建议登录(如果没号可跳过)
          # skopeo login docker.io ... 
          
          # 登录目标 (阿里云)
          skopeo login ${{ env.ACR_REGISTRY }} --username ${{ env.ACR_USERNAME }} --password "19931010ZKXzkx"

      # 3. 搬运 Monai (使用 copy 命令，不占磁盘)
      - name: Sync Monai (No Disk Usage)
        run: |
          skopeo copy \
            --override-os linux \
            --override-arch amd64 \
            docker://docker.io/xingyaoww/sweb.eval.x86_64.project-monai_s_monai-6246:latest \
            docker://${{ env.ACR_REGISTRY }}/${{ env.ACR_NAMESPACE }}/${{ env.ACR_REPO }}:monai_6246

      # 4. 搬运 Astropy (使用 copy 命令，不占磁盘)
      - name: Sync Astropy (No Disk Usage)
        run: |
          skopeo copy \
            --override-os linux \
            --override-arch amd64 \
            docker://swebench/sweb.eval.x86_64.astropy_1776_astropy-12907:latest \
            docker://${{ env.ACR_REGISTRY }}/${{ env.ACR_NAMESPACE }}/${{ env.ACR_REPO }}:astropy_12907
